<div class="top-main">
  <!-- 「PAY SPLIT」ボタンをクリックすると /pay-split に移動する -->
  <a href="/pay-split" class="btn" data-test="pay-split-link">PAY SPLIT</a>
  <a href="/pay-total" class="btn" data-test="pay-total-link">PAY TOTAL</a>
</div>
