<div class="article">
  <!-- /pay-split:データ送信先, GET:URLパラメータとして送る -->
  <form action="/pay-split" method="GET" data-test="pay-split-form">
    <div class="inputs">
      <input type="number" name="coins" placeholder="Coins" data-test="coins"/>
      <span class="operator" data-test="operator">➗</span>
      <input type="number" name="people" placeholder="People" data-test="people" />
    </div>
    <div class="actions">
      <input type="submit" class="btn" value="CALCULATE!" data-test="submit" />
    </div>
  </form>
</div>
