<div class="article">
  <div class="result-wrapper">
    <div class="result">
      <p>
        <span class="formula"><%= coins %> ➗ <%= people %> ＝</span>
        <span class="result-coins" data-test="result-coins"><%= result %></span>Coins/Person
      </p>
    </div>
    <a href="/pay-split" class="btn" data-test="back-link">BACK</a>
  </div>
</div>
