<div class="article">

  <form action="/pay-total" method="GET" data-test="pay-total-form">
    <div class="inputs">
      <input type="number" name="coins" placeholder="Coins" data-test="coins"/>
      <span class="operator" data-test=operator>✖️</span>
      <input type="number" name="people" placeholder="People" data-test="people" />
    </div>
    <div class="actions">
      <input type="submit" class="btn" value="CALCULATE!" data-test="submit" />
    </div>
  </form>
</div>
