body {
  text-rendering: optimizeSpeed;
  color: #2b546a;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  font-family: Lato, "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo,
    "MS PGothic", sans-serif;
  min-height: 100vh;
  margin-bottom: 0;  
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

form {
  text-align: center;
}

input {
  padding: 16px 20px;
  line-height: 1.8;
  border: 1px solid #d5dee8;
  background-color: #fcfcfd;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: #2b546a;
  margin: 5px;
}

::placeholder {
  color: #A4B5C8;
}

main {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 100px;
}

header {
  background-color: #88e7ce;
}

header > p {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  padding: 40px 0 80px;
}

header > p:after {
  position: absolute;
  content: "";
  display: block;
  width: 148px;
  height: 136px;
  bottom: -22px;
  right: -10px;
  background-size: 148px 136px;
  background-repeat: no-repeat;
  background-image: url(/image/wanko.svg);
}

.header-nav > a {
  color: #2b546a;
  font-weight: bold;
}

.header-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 700px;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: 80px;
}

.header-nav ul {
  text-align: right;
  display: flex;
}

.header-nav li > a {
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
  color: #2b546a;
  font-weight: bold;
  padding-left: 30px;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4ccfc9;
  height: 54px;
  padding: 0 90px;
  border-radius: 27px;
  border: none;
  cursor: pointer;
}

.error-panel {
  color: orangered;
}

.error-panel ul {
  background-color: pink;
  padding: 5px 10px;
}

.top-main {
  text-align: center;
}

.top-main a {
  margin: 8px;
}

.inputs {
  padding: 20px;
}

.operator {
  vertical-align: middle;
  font-size: 28px;
  padding: 0 14px;
}

.actions {
  text-align: center;
}

.result-wrapper {
  text-align: center;
}

.result {
  padding: 20px;
}

.result-coins {
  font-size: 36px;
  padding: 0 14px 0 10px;
}
